body {
  background-color: rgb(24, 24, 35);
  margin: 0;
}

header, footer {
  display: flex;
  justify-content: space-between;
  background-image: url("../Fotos/fondoheader.PNG");
  height: 8rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
header h1, footer h1 {
  color: rgb(83, 127, 231);
  height: 3rem;
  margin-left: 3rem;
  animation-duration: 4s;
  animation-name: rotar;
  animation-iteration-count: 2;
}
@keyframes rotar {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

.saludo-final {
  margin-left: 3rem;
}

.navegacion {
  flex-direction: row;
  padding: 2rem;
}
.navegacion a.href {
  margin-right: 2rem;
  text-decoration: none;
  color: rgb(83, 127, 231);
}
.navegacion a.href:hover {
  color: rgb(102, 209, 102);
  background-color: black;
}

.redes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(186, 215, 233);
  margin: 6rem 0 3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(186, 215, 233);
}

.imagenes-redes {
  height: 8rem;
  width: 8rem;
}
.imagenes-redes:hover {
  transform: scale(2);
}

.home-1 {
  grid-area: home1;
}

.home-2 {
  grid-area: home2;
}

.home-3 {
  grid-area: home3;
}

.home-4 {
  grid-area: home4;
}

.home-5 {
  grid-area: home5;
}

.home-6 {
  grid-area: home6;
}

.home-7 {
  grid-area: home7;
}

.home-8 {
  grid-area: home8;
}

.home-9 {
  grid-area: home9;
}

.home-10 {
  grid-area: home10;
}

.imageneshome {
  margin: 0 1rem 0 1rem;
  color: rgb(186, 215, 233);
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(10, fr);
  grid-template-areas: "home1 home1" "home2 home2" "home3 home4" "home5 home5" "home6 home7" "home8 home8" "home9 home10";
}
.imageneshome img {
  height: 30rem;
  width: 40rem;
}

.video-1 {
  grid-area: 1;
}

.video-2 {
  grid-area: 2;
}

.video-3 {
  grid-area: 3;
}

.video-4 {
  grid-area: 4;
}

.video-5 {
  grid-area: 5;
}

.video-6 {
  grid-area: 6;
}

.video-7 {
  grid-area: 7;
}

.video-8 {
  grid-area: 8;
}

.video-9 {
  grid-area: 9;
}

.video-10 {
  grid-area: 10;
}

.videos-eventos {
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(5, 55rem);
  grid-template-areas: "1 2" "3 4" "5 6" "7 8" "9 10";
  align-items: center;
  color: rgb(186, 215, 233);
  font-size: large;
  justify-items: center;
  column-gap: 3rem;
  row-gap: 3rem;
}
.videos-eventos video {
  height: 40rem;
  width: 40rem;
}

.nosotros-1 {
  grid-area: "item-1";
}

.nosotros-2 {
  grid-area: "item-2";
}

.nosotros-3 {
  grid-area: "item-3";
}

.nosotros-4 {
  grid-area: "item-4";
}

.nosotros-5 {
  grid-area: "item-5";
}

.nosotros-6 {
  grid-area: "item-6";
}

.nosotros-7 {
  grid-area: "item-7";
}

.imagenesnuestras {
  display: grid;
  grid-template-columns: repeat 2, fr;
  grid-template-rows: repeat 5, 55rem;
  color: rgb(186, 215, 233);
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas: "item-1 item-1" "item-2 item-2" "item-3 item-4" "item-5 item-6" "item-7 item-7";
  row-gap: 3rem;
  column-gap: 3rem;
}
.imagenesnuestras img {
  height: 40rem;
  width: 40rem;
}

.fotos-ventas img {
  height: 30rem;
  width: 30rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.ventas-dialogo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: rgb(186, 215, 233);
}

#texto-contacto {
  color: rgb(186, 215, 233);
  margin-top: 8rem;
  width: 40rem;
}

.formularios-datos {
  margin-top: 5rem;
  color: rgb(186, 215, 233);
}

.mb-3 {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

#area-mensaje {
  resize: none;
  height: 10rem;
  overflow: hidden;
}

#imagencontacto {
  margin-left: 50rem;
  position: absolute;
  width: 27rem;
}

.boton {
  margin-top: 2rem;
  margin-left: 4rem;
}

label:hover {
  transform: translate(15px);
}

button:hover {
  transform: scale(2);
}

.alert {
  color: rgb(186, 215, 233);
  background-color: rgb(14, 112, 14);
}

.titulo {
  color: rgb(186, 215, 233);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 5rem;
}

@media (max-width: 1024px) {
  .imagenesnuestras img {
    width: 22rem;
    height: 22rem;
  }
  .imagenes-redes {
    height: 7rem;
    width: 7rem;
  }
  .titulo {
    font-size: 4rem;
  }
  .imagenes-redes {
    height: 4rem;
    width: 4rem;
  }
  .imageneshome img {
    height: 25rem;
    width: 25rem;
  }
  .videos-eventos video {
    margin-top: 1rem;
    height: 25rem;
    width: 25rem;
  }
  .fotos-ventas img {
    height: 26rem;
    width: 26rem;
  }
  #imagencontacto {
    margin-top: 3rem;
    margin-left: 40rem;
    margin-bottom: 1rem;
    width: 22rem;
    height: 22rem;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .imagenesnuestras img {
    height: 15rem;
    width: 15rem;
  }
  .imagenes-redes {
    height: 5rem;
    width: 5rem;
  }
  .titulo {
    font-size: 4rem;
  }
  header, footer {
    justify-content: center;
  }
  .navegacion {
    padding: 0;
  }
  .navegacion a {
    margin: 0;
    padding: 0;
    font-size: small;
  }
  header h1 {
    height: 1rem;
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .saludo-final {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .imageneshome img {
    height: 22rem;
    width: 22rem;
  }
  .videos-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .videos-eventos video {
    margin-top: 1rem;
    height: 25rem;
    width: 25rem;
  }
  .fotos-ventas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .fotos-ventas img {
    height: 24rem;
    width: 24rem;
  }
  #imagencontacto {
    margin-left: 8rem;
    margin-bottom: 1rem;
    width: 25rem;
    position: relative;
  }
  .imagenesnuestras p {
    text-align: center;
  }
  .imagenesnuestras p section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .titulo {
    font-size: 2rem;
  }
  .imagenesnuestras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  p {
    text-align: center;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  img {
    align-self: center;
    justify-self: center;
    height: 10rem;
    width: 10rem;
  }
  .imagenes-redes {
    height: 3rem;
    width: 3rem;
  }
  header, footer {
    height: 15rem;
    justify-content: center;
  }
  .navegacion {
    display: flex;
    flex-direction: column;
  }
  .navegacion a {
    margin-top: 1rem;
  }
  .imageneshome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .imageneshome img {
    height: 18rem;
    width: 18rem;
  }
  .videos-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .videos-eventos video {
    margin-top: 2rem;
    height: 18rem;
    width: 18rem;
  }
  .fotos-ventas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .fotos-ventas img {
    height: 15rem;
    width: 15rem;
  }
  #imagencontacto {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 16rem;
    height: 16rem;
    position: relative;
  }
  #texto-contacto {
    max-width: 310px;
    margin-left: 4px;
  }
}

/*# sourceMappingURL=estilos.css.map */
